@page "/About"
<p>
This website is a compilation of user submitted videos through a discord bot.
<br />
The community can archive relevant videos in this compendium.
<br />
It makes uses of PostgreSQL and ERM, and ASP.Net Core 6.0.
<br />
The frontend was made with Blazor and razor pages.
<br />
This project is still in alpha phase
</p>

