@page "/Cn"
@inject IRunService RunService
@using System.Globalization

@if (quests is null || quests.Count == 0)
{
    <span>Loading Quests...</span>
}
else
{
    <TabControl>
        @foreach (Quest q in quests)
        {
            <TabPage Text=@((string.IsNullOrEmpty(q.CnName)) ? q.JpName : q.NaName)>
                @if (runs is null || runs.Count == 0)
                {
                    <span>Loading Runs...</span>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dps</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var run in runs.Where(r => r.Quest.Id == q.Id))
                            {
                                {
                                 main = run.Party.First(x=>x.IsMainDps);
                                }
                                <tr>                                    
                                    <td>@((string.IsNullOrEmpty(main.Servant.CnName)) ? main.Servant.JpName : main.Servant.CnName)</td>
                                    <td>@run.RunUrl</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </TabPage>
        }
    </TabControl>
}


@code {
    List<Quest>? quests = null;
    List<Run>? runs = null;
    PartySlot main;
    protected override async Task OnInitializedAsync()
    {
        quests = await RunService.GetQuests();
        runs = await RunService.GetRuns();
    }
}
