@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

<span class="text-nowrap">
        Made by
        <a target="_blank" class="font-weight-bold link-dark" href="https://www.youtube.com/c/Dante09">_Dante09#9825</a>
        in collaboration with
        <a target="_blank" class="font-weight-bold link-dark" href="https://www.youtube.com/c/XXIL_lost_3_spaces">X X I L#0001</a>
    </span>

    <p>Api controller at /api/Quests/ and /api/Runs/</p>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
