@page "/runs"
@inject IRunService RunService
@inject HttpClient Http
<h3>Runs</h3>



@if (runs is null || runs.Count == 0)
{
    <span>Loading Runs..</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Quest</th>
                <th>Dps</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var run in runs)
            {
                <tr>
                <td>@run.Quest.JpName</td>
                <td>@run.Dps.JpName</td>
                <td>@run.RunUrl</td>

                </tr>
            }                           
        </tbody>
    </table>
}

@code {


    List<Run>? runs = null;
    protected override async Task OnInitializedAsync()
    {

        //string str = await Http.GetStringAsync("api/runs").ConfigureAwait(false);
        //run = JsonConvert.DeserializeObject<Run>(str);
        runs = await RunService.GetRuns();
    }
}
